/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Dec 3, 2018, 3:08:25 PM
    Author     : Oksana_Miller
*/


.one-line {
    display: flex;
}

.header {
   flex: 1;
   font-family: 'Shrikhand', cursive;
}

.buttons {
    margin: auto;
    margin-top: 10px;
}

#name{
    font-size: 1.8em;
}

#github{
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    color: white;
}

